header{
    position: absolute;
    background: none;
    box-shadow: none;
}
.wrapper{
    background: none;
}
header{
    color:white !;

}
.tabs ul li a{
    color: white;
}
.logo{
    filter: brightness(73);
}
main{
      /* display: flex; */
      margin-top: 0 !important;
}
